<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DataBaseConnect" value="Password=Gjhf-1478963250;Persist Security Info=True;User ID=sa;Initial Catalog=ONPE_GJHF;Data Source=116.62.62.116"/>
    <add key="sso_url" value="http://116.62.62.116/onpe_sys/"/>
    <add key="AppsiteName" value="内部测试站点"/>
    <!-- 发布到各自站点时请取消对应的注释 -->
    <!-- 耐火厂-->
    <!--<add key="appsite_code" value="LQ2"/> -->
    <!-- 烧结分厂-->
    <!--<add key="appsite_code" value="LQ1"/> -->
    <!-- 武钢炼钢厂-->
    <!--<add key="appsite_code" value="LQ3"/> -->
    <!-- 现场测试专用-->
    <!--<add key="appsite_code" value="LQ4"/> -->
    <!-- 钢建华飞测试-->
    <add key="appsite_code" value="ONPE_GJHF"/>
    <!-- 钢建华飞测试01-->
    <!--<add key="appsite_code" value=" LQ6"/> -->
    <!-- 陈盛矿业-->
    <!--<add key="appsite_code" value="LQ7"/> -->
    <!-- 耐火炮泥-->
    <!--<add key="appsite_code" value="LQ8"/> -->
    <!-- 日照钢厂-->
    <!--<add key="appsite_code" value="LQ9"/> -->
    <!-- 炼铁原料分厂-->
    <!--<add key="appsite_code" value="ONPE_GYG"/> -->
    <add key="Disconnect_Time" value="10"/>
    <add key="Service_ID" value="ONPE_GJHF"/>
    <add key="Service_DisplayName" value="网络状态监测（内部测试站点）"/>
    <add key="Service_Description" value="监测采集服务器与云端服务器网络连接状态"/>
  </appSettings>
</configuration>
