.icon-sbxx{
	background:url('../../img/sbxx.png') no-repeat center center;
}
.icon-tzxx{
	background:url('../../img/tzxx.png') no-repeat center center;
}
.icon-sbdw{
	background:url('../../img/sbdw.png') no-repeat center center;
}
.icon-sdgc{
	background:url('../../img/sdgc.png') no-repeat center center;
}
.icon-yjya{
	background:url('../../img/yjya.png') no-repeat center center;
}
.icon-gzcz{
	background:url('../../img/gzcz.png') no-repeat center center;
}
.icon-zjgl{
	background:url('../../img/zjgl.png') no-repeat center center;
}
.icon-bpbj{
	background:url('../../img/bpbj.png') no-repeat center center;
}

/*任务工单*/
.icon-rwgd{
	background:url('../../img/rwgd.png') no-repeat center center;
}
.icon-gzp{
	background:url('../../img/gzp.png') no-repeat center center;
}
/*交接班*/
.icon-jjbjl{
	background:url('../../img/Designer.png') no-repeat center center;
}
/*三级点巡检*/
.icon-sjdxj{
	background:url('../../img/Red eye removing.png') no-repeat center center;
}
/*临时故障*/
.icon-lsgz{
	background:url('../../img/Warning.png') no-repeat center center;
}
/*备品备件*/
.icon-bpbj{
	background:url('../../img/Measure.png') no-repeat center center;
}
/*停送电*/
.icon-tsd{
	background:url('../../img/Tip of the day.png') no-repeat center center;
}






.icon-gzxx{
	background:url('../../img/gzxx.png') no-repeat center center;
}
.icon-copy{
	background:url('images/16/copy.png') no-repeat center center;
}
.icon-paste{
	background:url('images/16/paste.png') no-repeat center center;
}
.icon-format{
	background:url('images/16/format.png') no-repeat center center;
}
.icon-bold{
	background:url('images/16/bold.png') no-repeat center center;
}
.icon-italic{
	background:url('images/16/italic.png') no-repeat center center;
}
.icon-strikethrough{
	background:url('images/16/strikethrough.png') no-repeat center center;
}
.icon-subscript{
	background:url('images/16/subscript.png') no-repeat center center;
}
.icon-superscript{
	background:url('images/16/superscript.png') no-repeat center center;
}
.icon-underline{
	background:url('images/16/underline.png') no-repeat center center;
}
.icon-increase-font{
	background:url('images/16/increase-font.png') no-repeat center center;
}
.icon-decrease-font{
	background:url('images/16/decrease-font.png') no-repeat center center;
}
.icon-case-font{
	background:url('images/16/case-font.png') no-repeat center center;
}
.icon-grow-font{
	background:url('images/16/grow-font.png') no-repeat center center;
}
.icon-shrink-font{
	background:url('images/16/shrink-font.png') no-repeat center center;
}
.icon-align-left{
	background:url('images/16/align-left.png') no-repeat center center;
}
.icon-align-center{
	background:url('images/16/align-center.png') no-repeat center center;
}
.icon-align-right{
	background:url('images/16/align-right.png') no-repeat center center;
}
.icon-align-justify{
	background:url('images/16/align-justify.png') no-repeat center center;
}
.icon-bullets{
	background:url('images/16/bullets.png') no-repeat center center;
}
.icon-numbers{
	background:url('images/16/numbers.png') no-repeat center center;
}
.icon-find{
	background:url('images/16/find.png') no-repeat center center;
}
.icon-replace{
	background:url('images/16/replace.png') no-repeat center center;
}
.icon-select{
	background:url('images/16/select.png') no-repeat center center;
}
.icon-selectall{
	background:url('images/16/selectall.png') no-repeat center center;
}
.icon-go{
	background:url('images/16/go.png') no-repeat center center;
}

.icon-paste-large{
	background:url('images/32/paste.png') no-repeat center center;
}
.icon-table-large{
	background:url('images/32/table.png') no-repeat center center;
}
.icon-picture-large{
	background:url('images/32/picture.png') no-repeat center center;
}
.icon-clipart-large{
	background:url('images/32/clipart.png') no-repeat center center;
}
.icon-shapes-large{
	background:url('images/32/shapes.png') no-repeat center center;
}
.icon-smartart-large{
	background:url('images/32/smartart.png') no-repeat center center;
}
.icon-chart-large{
	background:url('images/32/chart.png') no-repeat center center;
}

.icon-move-go{
	background:url('images/32/go.png') no-repeat center center;
}
.icon-move-back{
	background:url('images/32/back.png') no-repeat center center;
}
.icon-move-all-go{
	background:url('images/32/all_go.png') no-repeat center center;
}
.icon-move-all-back{
	background:url('images/32/all_back.png') no-repeat center center;
}
.icon-separator
{
    background:url('images/32/separator.png') no-repeat center center;
    }
.icon-restore
{
    background:url('images/16/restore.png') no-repeat center center;
    }
.icon-up
{
    background:url('images/16/up.png') no-repeat center center;
    }
.icon-down
{
    background:url('images/16/down.png') no-repeat center center;
    }
.icon-toup
{
    background:url('images/16/toup.png') no-repeat center center;
    }
.icon-todown
{
    background:url('images/16/todown.png') no-repeat center center;
    }
    