<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ONPE_SJEntitiesModel" connectionString="metadata=res://*/PLC.DataModel.csdl|res://*/PLC.DataModel.ssdl|res://*/PLC.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=116.62.62.116;initial catalog=ONPE_NH;persist security info=True;user id=sa;password=Gjhf-1478963250;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>